<!-- header.twig -->
{# {{ dump(header_footer.header) }} #}

<div class="header uk-grid">

	<div class="uk-width-2-3 site-name">

		<div class="name">
			{{ header_footer.site_title }}
			<div class="logo">
				<i class="fas fa-laptop-code"></i>
			</div>
		</div>
		<div class="subtext">{{ header_footer.site_title }}</div>
	</div>

	<a id="header-hamburger" class="uk-width-1-3 open-mobile-menu" href="javascript:void(0)">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</a>

	<ul id="mobile-menu" class="uk-width-1-1 uk-hidden header-items">
	{% for menu_item in header_footer.header %}
		<a href="{{ menu_item.field_link[0].uri }}"><li>{{ menu_item.field_link[0].title }}</li></a>
	{% endfor %}
	</ul>
</div>